.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.add-button {
    background-color: #00B300;
    color: white;
}

.header-paragraph {
    opacity: .7;
}

.product-table-container {
    height: 70vh;
    overflow: auto;
    ::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}