.header-row {
    opacity: 0.7;
}

.product-image {
    border-radius: 9px;
    height: 3rem;
    width: 3rem;
}

.delete-icon {
    color: red;
}

.center-table-item {
    display: flex;
    justify-content: center;
}