@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Slider.css */
.slider-container {
    height: 720px;
    width: 576px; /* Set the desired width for your slider container */
    margin: 0 auto; /* Center the slider container */
  }
  
  .image-container {
    height:720px; /* Set the fixed height for the images */
    width: 576px; /* Set the fixed width for the images */
    overflow: hidden; /* Hide any overflowing parts of the images */
  }
  
  .image-container img {
    width: 100%; /* Make the images take the full width of their container */
    height: 100%; /* Make the images take the full height of their container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  }
  



