.exp__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .exp__item{
        padding: 0.5rem;
        align-self: flex-start;
    }
    .exp__item h1{
        padding-top: 4rem;
       }
}