




.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(244, 231, 135, 0.2);
  background: transparent;  
}

.btn:hover {
  background-color: rgb(211, 205, 28);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: grey; /* Optional background color for cards */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_content {
  padding: 10px;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}





@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

